/* 思政天地 css */

/* header & footer */
.header,
.footer {
    background: #94181c !important;
}

@media (max-width: 993px) {
	.header .container .nav li {
		background-color: #820c17 !important;
		border-bottom: none;
	}
	.header .container .nav li:hover,
	.header .container .nav li:hover:after,
	.header .container .nav li:hover> a {
		background-color:#730e22 !important;
	}
}

.header .container .searchBox .searchMenu a {
    color: #f2f2f2 !important;
}

.footer .quickLink .container .leftLink>li>a,
.footer .quickLink .container .rightLink>li>a {
    color: #efefef !important;
}

.footer .copyright p,
.footer .copyright p a {
    color: #efefef !important;
}

/* other nav */
.o__nav {
	height: 60px;
	background-color: #c6151c;
    box-shadow: 0px -6px 10px #c6151c;
}
.o__nav .container {
	width: 1240px;
}

.o__nav .container .navItemContainer .navItem {
	display: inline-block;
	margin: 0 24px;
	width: 125px;
	color: #f9eccd;
	font-size: 18px;
	text-align: center;
	line-height: 60px;
}
.o__nav .container .navItemContainer .navItem:hover,
.o__nav .container .navItemContainer .navItem__now {
	background-color: #9a230d;
	color: #fff;
}

/*article*/
.o__main .container .listRight .listRightHead h2 {
    border-top-color: #94181c !important;
    border-left-color: #94181c !important;
    color: #94181c !important;
}

/*banner*/
.banner {
	/* position: relative; */
}
.bannerImgBox {
	max-width: 100%;
	/* position: absolute;
	left: 50%; */
}
.bannerImgBox img {
	margin: 0 auto;
	height: auto;
	width: 100%;
	max-width: 100%;

	/* 限制最小宽度为1240px且居中显示 */
	min-width: 1240px;
	position: relative;
	left: 50%;
	-webkit-transform: translateX(-50%);
	-moz-transform: translateX(-50%);
	-o-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	transform: translateX(-50%);
	margin-left: -50%;
	margin-left: 0rem;
}
@media (max-width: 1000px) {
	.bannerImgBox img {
		
	}
}
/* o__main */
.o__main {
	background-color: #fff;
}
.o__main .container {
	padding: 0 65.5px;
	width: 1122px;
}

.o__main .leftBox,
.o__main .rightList {
	display: inline-block;
	vertical-align: top;
}
.o__main .leftBox {
	width: 738px;
}
.o__main .rightList {
	width: 342px;
    margin-left: 36px;
    background-color: #fff;
}
/* left&full common */
.o__main .fullBox .fullColumnName,
.o__main .leftBox .leftColumnName {
	padding-bottom: 11px;
	border-bottom: 2px solid #cdcdcd;
}
.o__main .fullBox .fullColumnName a,
.o__main .leftBox .leftColumnName a {
	padding: 0 2px 11px;
	font-size: 18px;
	font-weight: 600;
	letter-spacing: 1px;
	color: #4a4a51;
	border-bottom: 2px solid #891619;
}
.o__main .fullBox .fullColumnContent,
.o__main .leftBox .leftColumnContent {
	margin-top: 26px;
}
/* rightColumnName */
.o__main .rightList .rightListBox .rightColumnName {
	height: 40px;
	line-height: 40px;
	letter-spacing: -4px;
}
.o__main .rightList .rightListBox .rightColumnName span {
	font-size: 18px;
	height: 40px;
	display: inline-block;
	letter-spacing: 0;
	text-align: center;
	font-weight: 600;
	color: #a8a8a8;
    cursor: pointer;
    background: #fdf6e5;
    width: 50%;
}
@media (min-width: 1800px) {
	.o__main .rightList .rightListBox .rightColumnName span {
		width: 49.9%;
	}
}
@media (min-width: 2000px) {
	.o__main .rightList .rightListBox .rightColumnName span {
		width: 49.5%;
	}
}
.o__main .rightList .rightListBox .rightColumnName .ri-current {
	color: #e9482c !important;
    background: #f8ded2 !important;
}
/* rightListContent (ul & li) */
.o__main .rightList .rightListBox .rightListContent {
	padding: 18px 0 0;
	border-top: none;
	border: 1px solid #f9f5f0;
}
.o__main .rightList .rightListBox .rightListContent ul li {
	display: block;
	margin-bottom: 12px;
	padding-left: 22px;
}
.o__main .rightList .rightListBox .rightListContent ul li a {
	position: relative;
	padding-left: 22px;
	font-size: 14px;
	line-height: 16px;
	color: #937c67;
	font-weight: 600;
	/*处理超出*/
	width: max-content;
	max-width: 260px;
	display: block;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.o__main .rightList .rightListBox .rightListContent ul li a:before {
	content: '';
	position: absolute;
	top: 50%;
	left: 0;
	-webkit-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	transform: translateY(-50%);
	width: 4px;
	height: 4px;
	background: #d3494c;
	border-radius: 2px;
}
.o__main .rightList .rightListBox .rightListContent ul li a:hover {
	color: #e9482c;
}
/* sp */
.o__main .szSlider .rightList .rightListBox .rightListContent .rightAdBanner,
.o__main .szSlider .rightList .rightListBox .rightListContent .rightAdBanner img {
	width: 342px;
	height: 115px;
	display: block;
    background: #f9eccd;
}
.o__main .szExploration .rightList .rightListBox .rightListContent ul li:first-child + li + li + li:after {
    content: '';
    background: #ede1c3;
    width: 298px;
    height: 1px;
    display: block;
    margin: 16px 0;
}

/* szSlider */
div.szSlider {
	padding-top: 10px;
	padding-bottom: 58px;
}
.szSlider .rightList {
	height: 423px;
}

/* sliderBox */
.o__main .leftBox .sliderBox {
	width: 736px;
	height: 423px;
	position: relative;
}
.o__main .leftBox .sliderBox .sliderMain {
	display: block;
}
.o__main .leftBox .sliderBox .sliderMain > li > img {
	width: 738px;
	height: 423px;
	background-color: #f5f5f5;
}
.o__main .leftBox .sliderBox .sliderMain > li > div {
	position: absolute;
	bottom: 0;
	display: block;
	height: 57px;
	width: 736px;
	background-color: rgba(0, 0, 0, .5);
}
.o__main .leftBox .sliderBox .sliderMain > li > div > a {
	display: block;
	line-height: 57px;
	font-size: 16px;
	text-align: left;
	margin-left: 40px;
	color: #fff;
	
	width: max-content;
	max-width: 500px;
	overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
/* sp */
.o__main .leftBox .opacity {
	position: absolute;
	bottom: 20px;
	right: 20px;
}
/*对szSlider lightslider的更改*/
.szSlider .lSSlideOuter .lSPager.lSpg {
	margin: 0 0;
}
.szSlider .lSSlideOuter .lSPager.lSpg > li a {
	background-color: #f5f5f5;
}
.szSlider .lSSlideOuter .lSPager.lSpg > li:hover a,
.szSlider .lSSlideOuter .lSPager.lSpg > li.active a {
	background-color: #891619;
}

/* szExploration */
div.szExploration {
	padding-bottom: 58px;
}

/* sztd leftCardItem */
.o__main .sztd .leftCardBox,
.o__main .sztd .leftListBox {
	display: inline-block;
	vertical-align: top;
}
.o__main .sztd .leftListBox {
	margin-left: 70px;
}
.o__main .sztd .leftCardBox .leftCardItem {
	width: 346px;
}
.o__main .sztd .leftCardBox .leftCardItem:first-child {
	padding-bottom: 30px;
	border-bottom: 1px dashed #e5d5bd;
}
.o__main .sztd .leftCardBox .leftCardItem:first-child + .leftCardItem {
	padding-top: 30px;
}
.o__main .sztd .leftCardBox .leftCardItem .CardCoverimg,
.o__main .sztd .leftCardBox .leftCardItem .CardIntro {
	display: inline-block;
	vertical-align: top;
}
.o__main .sztd .leftCardBox .leftCardItem .CardCoverimg img {
	width: 122px;
	height: 94px;
	background-color: #f5f5f5;
}
.o__main .sztd .leftCardBox .leftCardItem .CardIntro {
	margin-left: 18px;
}
.o__main .sztd .leftCardBox .leftCardItem .CardIntro .Intro_tit {
	font-size: 14px;
	color: #000000;
	padding-left: 4px;
	margin-bottom: 10px;
	/*处理超出*/
	width: 190px;
	display: block;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.o__main .sztd .leftCardBox .leftCardItem .CardIntro .Intro_des {
	font-size: 12px;
	color: #937C67;
	width: 200px;
	height: 66px;
	line-height: 22px;
	/*处理超出*/
	display: block;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: pre-wrap;
}
/* leftListBox */
.o__main .sztd .leftListBox ul li {
	display: block;
	margin-bottom: 12px;
	padding-left: 22px;
}
.o__main .sztd .leftListBox ul li a {
	position: relative;
	padding-left: 22px;
	font-weight: 600;
	/*处理超出*/
	width: max-content;
	max-width: 230px;
	display: block;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	color: #1a1a1a;
	font-size: 14px;
	line-height: 20px;
}
.o__main .sztd .leftListBox ul li a:hover {
	color: #e9613a;
}

/* szEraModel */
div.szEraModel {
	padding-bottom: 58px;
}
.o__main .fullBox,
.o__main .fullColumnContent {
	width: 100%;
}
.szEraModel .fullColumnContent ul {
	display: block;
	margin-bottom: 5px;
}
.szEraModel .fullColumnContent ul li {
	display: inline-block;
}
.szEraModel .fullColumnContent ul li .GalleryItem {
	width: 120px;
	height: 200px;
}
.szEraModel .fullColumnContent ul li .GalleryItem a img {
	display: block;
	width: 120px;
	height: 171px;
    background-color: #f5f5f5;
}
.szEraModel .fullColumnContent ul li .GalleryItem .GalleryItem_des {
    margin-top: 12px;
    display: block;
    text-align: center;
    font-size: 12px;
    color: #4a4a51;
    max-width: 120px;
    height: 16px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.szEraModel .fullColumnContent ul li .GalleryItem:hover .GalleryItem_des {
	color: #C6151C;
}

.szEraModel .lSSlideOuter .lSPager.lSpg > li:hover a,
.szEraModel .lSSlideOuter .lSPager.lSpg > li.active a {
	background-color: #ce2608;
}