<?php
    $chunk = $mod[1];
    $child = $mod[2];
    $timegap = $mod[3];
    $all = count($info_visit[$chunk[0]][$child[0]][$timegap]) - 1;
    $num = isset($mod[4]) ? $mod[4] : $all;
    $loop = $all - $num;
?>
<div class="gird-left"><canvas id="linechart_{$child[0]}_{$child[1]}_{$timegap}"></canvas></div>
<div class="gird-right"><canvas id="piechart_{$child[0]}_{$child[1]}_{$timegap}"></canvas></div>
<script>
    var data = {
        labels:[<?php for($i = $loop; $i<$num; $i++){echo $info_visit[$chunk[0]][$child[0]][$timegap][$i]["date"].",";} ?>],
    datasets: [{
        label: "{$mod[0][0]}",
        color: "#38b7ff",
        data: [<?php for($i = $loop; $i<$num; $i++){echo $info_visit[$chunk[0]][$child[0]][$timegap][$i]["value"].",";} ?>]
    }, {
        label: "{$mod[0][1]}",
            color: "#39c5bb",
            data: [<?php for($i = $loop; $i<$num; $i++){echo $info_visit[$chunk[1]][$child[1]][$timegap][$i]["value"].",";} ?>]
    }
    ]
    };
    var data2 = [{
        label:"{$mod[0][0]}",
        value: {$info_visit[$chunk[0]][$child[0]][$timegap]["count"]},
        color:"#38b7ff",
    }, {
        label:"{$mod[0][1]}",
        value : {$info_visit[$chunk[1]][$child[1]][$timegap]['count']},
        color : "#39c5bb",
    }
    ];
    $("#linechart_{$child[0]}_{$child[1]}_{$timegap}").lineChart(data,$.extend(chart_line,chart_common) );
    $("#piechart_{$child[0]}_{$child[1]}_{$timegap}").pieChart(data2,$.extend(chart_pie,chart_common));
</script>