<!--[banner start]-->
{if isset($_GET['from'])}
    {if $_GET['from'] == '6'}
        {include file="default/portal/sztd/sztd_bn"/}
    {elseif $_GET['from'] == '7'}
        {include file="default/portal/gxyx/gxyx_bn"/}
    {elseif $_GET['from'] == '10'}
        {include file="default/portal/xskj/xskj_bn"/}
    {elseif $_GET['from'] == '16'}
        {include file="default/portal/paxy/paxy_bn"/}
    {elseif $_GET['from'] == '9'}
        {include file="default/portal/xygj/xygj_bn"/}
    {/if}
{/if}
<!--[banner end]-->