{extend name="admin/frame" /}
{block name="nav"}
    <li class="nav-parent show"><a><i class="icon icon-file"></i>面试管理控制台</a>
        <ul class="nav">
            <li class="active"><a data-target="#enroll_fs" data-toggle="tab" href="javascript:;" onclick="Sms.init('#enroll_fs');">通知短信发送</a></li>
            <li><a data-target="#enroll_mag" data-toggle="tab" href="javascript:;" onclick="Sms.init('#enroll_mag');">面试控制台</a></li>
        </ul>
    </li>
    <li class="nav-parent show"><a><i class="icon icon-file"></i>录取管理控制台</a>
        <ul class="nav">
            <li><a data-target="#enroll_act" data-toggle="tab" href="javascript:;" onclick="Sms.init('#enroll_act');">录取筛选管理</a></li>
            <li><a data-target="#enroll_ener" data-toggle="tab" href="javascript:;" onclick="Sms.init('#enroll_ener');">录取通知发送</a>
                <span class="">
                <a data-target="#enroll_del" data-toggle="tab" href="javascript:;" onclick="Sms.init('#enroll_del');"><i class="icon-ban-circle"></i></a>
                </span>
            </li>
            <li><a data-target="#enroll_mmb" data-toggle="tab" href="javascript:;" onclick="Sms.init('#enroll_mmb');">已录取成员</a></li>
        </ul>
    </li>
    <div class="ext">
        <select style="
                    width: 181px;
                    height: 50px;
                    padding: 0 10px;
                    font-size: 16px;
                    border: 1px solid #d2d2d2;
                    text-align: center;
                    position: fixed;
                    bottom: 106px;"
            data-type="campus" name="campus">
        </select>
    </div>
{/block}
{block name="section"}
    <link href="{$Think.const.STATIC_ROOT}/lib/datetimepicker/datetimepicker.min.css" rel="stylesheet">
    <script src="{$Think.const.STATIC_ROOT}/lib/datetimepicker/datetimepicker.min.js"></script>
    <link href="{$Think.const.STATIC_ROOT}/css/skin/admin-enroll.css" rel="stylesheet">
    <script src="{$Think.const.STATIC_ROOT}/js/admin/enroll.js"></script>


    <div class="tab-pane fade active in" id="enroll_fs" data-url="logic_1" style="height:100%">
        <span class="title">通知短信发送控制台</span>
        <div class="datatable">
            <div class="datahead"></div>
            <div class="datalist"></div>
            <div class="loading" style="display: none"><img src="{$Think.const.STATIC_ROOT}/img/common/loading.gif"></div>
        </div>
        <div class="input-group">
            <div class="solid-area" style="width: 322px;">
                <em class="title">短信动态参数</em>
                <input class="where" placeholder="地点">
                <input class="cls" placeholder="部门">
                <input class="time" id="timeselector1" placeholder="时间">
                <input class="aphone" placeholder="管理员电话">
            </div>
            <div class="solid-area" style="width: 156px;">
                <em class="title">其他</em>
                <input class="msgtpl" placeholder="短信模板编号">
                <input class="perpage" type="number" placeholder="每页数据量(0~99)">
            </div>
            <div class="solid-area btn-group">
                <button class="submit">提 交</button>
            </div>
            <div class="solid-area btn-group">
                <button class="select_all">全选</button>
                <button class="unselect_all">全不选</button>
            </div>
        </div>
    </div>
    <div class="tab-pane fade" id="enroll_mag" data-url="logic_2" style="height:100%">
        <span class="title">面试控制台</span>
        <div class="tokenthumb"></div>
        <div class="datatable">
            <div class="datahead"></div>
            <div class="datalist"></div>
            <div class="loading" style="display: none"><img src="{$Think.const.STATIC_ROOT}/img/common/loading.gif"></div>
        </div>
        <div class="solid-area" style="width: 168px;">
            <em class="title">显示数量</em>
            <input class="perpage" type="number" placeholder="每页数据量(0~99)">
        </div>
    </div>
    <div class="tab-pane fade" id="enroll_act" data-url="logic_3" style="height:100%">
        <span class="title">录取筛选</span>
        <div class="datatable">
            <div class="datahead"></div>
            <div class="datalist"></div>
            <div class="loading" style="display: none"><img src="{$Think.const.STATIC_ROOT}/img/common/loading.gif"></div>
        </div>
        <div class="input-group">
            <div class="solid-area" style="width:calc(100% - 225px) ">
                <div class="pagethumb" style="display: inline-block"></div><br>
                <input class="perpage" type="number" placeholder="每页数据量(0~99)">
            </div>
            <div class="solid-area btn-group">
                <button class="submit">提 交</button>
            </div>
            <div class="solid-area btn-group">
                <button class="select_all">全选</button>
                <button class="unselect_all">全不选</button>
            </div>
        </div>
    </div>
    <div class="tab-pane fade" id="enroll_ener" data-url="logic_4" style="height:100%">
        <span class="title">录用短信通知</span>
        <div class="datatable">
            <div class="datahead"></div>
            <div class="datalist"></div>
            <div class="loading" style="display: none"><img src="{$Think.const.STATIC_ROOT}/img/common/loading.gif"></div>
        </div>
        <div class="input-group">
            <div class="solid-area" style="width: 168px;">
                <em class="title">短信动态参数</em>
                <input class="cls" placeholder="部门">
            </div>
            <div class="solid-area" style="width: 168px;">
                <em class="title">其他</em>
                <input class="msgtpl" placeholder="短信模板编号">
                <input class="perpage" type="number" placeholder="每页数据量(0~99)">
            </div>
            <div class="solid-area btn-group">
                <button class="submit">提 交</button>
            </div>
            <div class="solid-area btn-group">
                <button class="select_all">全选</button>
                <button class="unselect_all">全不选</button>
            </div>
        </div>
    </div>
    <div class="tab-pane fade" id="enroll_del" data-url="logic_6" style="height:100%">
        <span class="title">面试未通过短信通知（未添加到录取名单的人都会在这里显示）</span>
        <div class="datatable">
            <div class="datahead"></div>
            <div class="datalist"></div>
            <div class="loading" style="display: none"><img src="{$Think.const.STATIC_ROOT}/img/common/loading.gif"></div>
        </div>
        <div class="input-group">
            <div class="solid-area" style="width: 168px;">
                <em class="title">短信动态参数</em>
                <input class="cls" placeholder="部门">
            </div>
            <div class="solid-area" style="width: 168px;">
                <em class="title">其他</em>
                <input class="msgtpl" placeholder="短信模板编号">
                <input class="perpage" type="number" placeholder="每页数据量(0~99)">
            </div>
            <div class="solid-area btn-group">
                <button class="submit">提 交</button>
            </div>
            <div class="solid-area btn-group">
                <button class="select_all">全选</button>
                <button class="unselect_all">全不选</button>
            </div>
        </div>
    </div>
    <div class="tab-pane fade" id="enroll_mmb" data-url="logic_5" style="height:100%">
        <div class="datatable" style="height: 100%">
            <div class="datahead"></div>
            <div class="datalist"></div>
            <div class="loading" style="display: none"><img src="{$Think.const.STATIC_ROOT}/img/common/loading.gif"></div>
        </div>
    </div>

    <div class="modal fade" id="f2f">
        <div class="modal-dialog" style="width: 720px; overflow: hidden">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">关闭</span></button>
                    <h4 class="modal-title">面试控制台</h4>
                </div>
                <ul class="nav nav-tabs">
                    <li class="active"><a data-target="#e_info" data-toggle="tab">面试面板</a></li>
                    <li><a data-target="#e_trun" data-toggle="tab">转部门</a></li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane active" id="e_info">
                        <div class="modal-body" style="padding: 0">
                            <div class="cp e_info" style="padding: 15px">
                                <img class="e_pho" src="">
                                <div><i>姓名</i><span class="e_name"></span></div>
                                <div><i>性别</i><span class="e_sex"></span></div>
                                <div><i>学院</i><span class="e_col"></span></div>
                                <div><i>专业</i><span class="e_spe"></span></div>
                                <div><i>班级</i><span class="e_cls"></span></div>
                                <div><i>报名理由</i><br><span class="e_reasion"></span></div>
                            </div>
                            <div class="fp">
                                <div><i>评分(0~1000)：</i><input type="number" class="e_score" placeholder="评分,不只是一百分" ></div>
                                <div><i>意见：</i><textarea class="e_sug" style="height: 120px;" placeholder="面试官意见"></textarea></div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                            <button type="button" class="btn btn-primary pass_confirm">保存</button>
                            <input id="abs-btn-lock" type="checkbox" class="btn-lock btn btn-danger" style="float: left">
                            <label for="abs-btn-lock" class="icon-lock" style="float: left;"></label>
                            <button type="button" class="btn btn-danger absence_confirm" style="float: left" >缺席？？</button>
                        </div>
                    </div>
                    <div class="tab-pane" id="e_trun">
                        <div class="modal-body">
                            <p class="alert alert-info">转移后的面试者可以等待下一轮其他部门的面试通知。<br>或者从下面选取对应部门的面试时间段，让面试者在那个时间前往面试。</p>
                            <div class="ftime_list" style="padding: 0 36px;"></div>
                            <div class="turn_aim" style="padding-left: 50px"></div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                            <button type="button" class="btn btn-primary turn_confirm" data-dismiss="modal">确定</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="enrollerinfo">
        <div class="modal-dialog" style="width: 720px; overflow: hidden">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">关闭</span></button>
                    <h4 class="modal-title"><span class="e_name"></span> 的信息</h4>
                </div>
                <ul class="nav nav-tabs">
                    <li class="active"><a data-target="#e_info2" data-toggle="tab">资料</a></li>
                    <li><a data-target="#e_trun2" data-toggle="tab">转部门</a></li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane active" id="e_info2">
                        <div class="modal-body e_info">
                        <img class="e_pho" src="">
                        <i>性别</i><span class="e_sex"></span>
                        <i>学院</i><span class="e_col"></span>
                        <i>专业</i><span class="e_spe"></span>
                        <i>班级</i><span class="e_cls"></span>
                        <i>报名理由</i><span class="e_reasion"></span>
                        <i>面试官意见</i><span class="e_sug"></span>
                    </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                        </div>
                    </div>
                    <div class="tab-pane" id="e_trun2">
                        <div class="modal-body">
                            <p class="alert alert-danger">转移后的面试者可以等待下一轮其他部门的面试通知。</p>
                            <div class="ftime_list" style="padding: 0 36px;"></div>
                            <div class="turn_aim" style="padding-left: 50px"></div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                            <button type="button" class="btn btn-primary turn_confirm" data-dismiss="modal">确定</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="modal_next">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">关闭</span></button>
                    <h4 class="modal-title">提示</h4>
                </div>
                <div class="modal-body">
                    短信发送进程结束，请继续。
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-success" data-dismiss="modal">继续</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="modal_smsdata_uc">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">关闭</span></button>
                    <h4 class="modal-title">提示</h4>
                </div>
                <div class="modal-body">
                    短信动态参数不完整
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-warning" data-dismiss="modal">关闭</button>
                </div>
            </div>
        </div>
    </div>

    <span style="position: fixed; bottom: 36px; left: 10px;color: #999;">
        全站报名人数：{$enall}<br />
        志愿一填报数：{$en}<br />
        志愿二填报数：{$en2}
    </span>

    <script>
        Sms.init('#enroll_fs');
        $("#timeselector1").datetimepicker({
            language: "zh-CN",
            weekStart: 1,
            autoclose: 1,
            todayHighlight: 1,
            startView: 1,
            forceParse: 0,
            format: 'mm月dd日，hh点ii分',
        });
    </script>
{/block}