/* 国学研习 css */

/* header & footer */
.header,
.footer {
	background: #865942 !important;
}

@media (max-width: 993px) {
	.header .container .nav li {
		background-color: #6a4835 !important;
		border-bottom: none;
	}
	.header .container .nav li:hover,
	.header .container .nav li:hover:after,
	.header .container .nav li:hover> a {
		background-color: #8a503b !important;
	}
}

.header .container .searchBox .qzSearch {
    background-color: #64402e !important;
    border: none;
}

.header .container .searchBox .searchMenu a {
    color: #fff !important;
}

.header .container .searchBox .searchMenu a:hover {
	color: #fee2bd !important;
}
.header .container .nav li .subnav a:hover {
	background-color: #865942 !important;
	color: #efefef !important;
}
.header .container .nav li .subnav a {
	color: #865942 !important;
	background-color: #efefef !important;
}

.footer .quickLink .container .leftLink >li>a,
.footer .quickLink .container .rightLink >li>a {
    color: #fff !important;
}

.footer .copyright p,
.footer .copyright p a {
    color: #fff !important;
}

.footer .quickLink .container .rightLink li:before {
	color: #fff !important;
}
.footer .quickLink .container .rightLink li:hover:before {
	color: #fee2bd !important;
}

.footer .quickLink .container .leftLink,
.footer .quickLink .container .rightLink {
	border-color: #926a55 !important;
}

.footer .quickLink {
	border-bottom-color: #624130 !important;
}
.footer .copyright {
	border-top-color: #97705d !important;
}

/*article*/
.o__main .container .listRight .listRightHead h2 {
    border-top-color: #865942 !important;
    border-left-color: #865942 !important;
    color: #865942 !important;
}

/*banner*/
.banner {
	background: #e7e5d9 !important;
	border-bottom: 1px solid #e7e5d !important9;
}
.bannerImgBox {
	max-width: 100%;
}
.bannerImgBox img {
	margin: 0 auto;
	height: auto;
	width: 100%;
	max-width: 100%;
	
	/* 限制最小宽度为1240px且居中显示，但是IE8表现差些，因为不支持transtorm */
	min-width: 1240px;
	position: relative;
	left: 50%;
	-webkit-transform: translateX(-50%);
	-moz-transform: translateX(-50%);
	-o-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	transform: translateX(-50%);
	margin-left: -50%;/* ie8 */
	margin-left: 0rem;
}

/* other nav */
.o__nav {
    position: relative;
	height: 60px;
    background-color: #f1f2f3;
    background: -ms-linear-gradient(180deg,#f0f2f3,#e2e6e9,#f1f2f3);
    background: -webkit-linear-gradient(180deg,#f0f2f3,#e2e6e9,#f1f2f3);
	background: -o-linear-gradient(180deg,#f0f2f3,#e2e6e9,#f1f2f3);
	background: -moz-linear-gradient(180deg,#f0f2f3,#e2e6e9,#f1f2f3);
	background: linear-gradient(180deg,#f0f2f3,#e2e6e9,#f1f2f3);
    box-shadow: 0 -5px 20px -2px rgba(0, 0, 0, 0.4);
}
.o__nav .container {
	width: 1240px;
}
.o__nav .container .navItemContainer .navItem {
	display: inline-block;
	width: 130px;
	margin: 0 3px;
	color: #666;
	font-size: 18px;
	text-align: center;
	line-height: 60px;
}
.o__nav .container .navItemContainer .navItem:hover,
.o__nav .container .navItemContainer .navItem__now {
	color: #64402e;
	background-color: #e6e6e6;
	/*border-radius: 12px;*/
	-webkit-box-shadow: inset 0px 0px 20px 6px rgba(0,0,0,.2);
	box-shadow: inset 0px 0px 20px 6px rgba(0,0,0,.2)
}

/* o__main */
.o__main {
	background-color: #ebe6dd;
}
.o__main .container {
	padding: 0 65.5px;
	width: 1122px;
	background-color: #fff;
}

.o__main .leftBox,
.o__main .rightList {
	display: inline-block;
	vertical-align: top;
}
.o__main .leftBox {
	width: 738px;
}
.o__main .rightList {
	width: 342px;
    margin-left: 38px;
	background: #f9eccd;
}
/* leftColumnName */
.o__main .leftBox .leftColumnName {
	padding-bottom: 11px;
	border-bottom: 1px solid #cdcdcd;
}
.o__main .leftBox .leftColumnName a {
	padding: 0 2px 11px;
	font-size: 18px;
	font-weight: 600;
	letter-spacing: 1px;
	color: #592d20;
	border-bottom: 1px solid #6b4939;
}
/* rightColumnName */
.o__main .rightList .rightListBox .rightColumnName {
	padding-left: 22px;
	height: 40px;
	line-height: 40px;
	background: #cfa972;
	box-shadow: 0 0 10px 0px #cfa972;
}
.o__main .rightList .rightListBox .rightColumnName a {
	font-size: 18px;
	font-weight: 600;
	color: #592d20;
}
/* rightListContent (ul & li) */
.o__main .rightList .rightListBox .rightListContent {
	padding: 18px 0;
	background: #fff;
	border: 1px solid #f1e5d4;
	border-top: none;
}
.o__main .rightList .rightListBox .rightListContent ul li {
	display: block;
	margin-bottom: 12px;
	padding-left: 22px;
}
.o__main .rightList .rightListBox .rightListContent ul li a {
	position: relative;
	padding-left: 22px;
	font-size: 14px;
	line-height: 16px;
	color: #937c67;
	font-weight: 600;
	/*处理超出*/
	width: max-content;
	max-width: 260px;
	display: block;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.o__main .rightList .rightListBox .rightListContent ul li a:before {
	content: '';
	position: absolute;
	top: 50%;
	left: 0;
	-webkit-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	transform: translateY(-50%);
	width: 4px;
	height: 4px;
	background: #d3494c;
	border-radius: 2px;
}
.o__main .rightList .rightListBox .rightListContent ul li a:hover {
	color: #e9482c;
}

/* gxNews */
div.gxNews {
	padding-top: 10px;
	padding-bottom: 58px;
}
.gxNews .rightList {
	height: 423px;
}
/* sliderBox */
.o__main .leftBox .sliderBox {
	width: 736px;
	height: 421px;
	position: relative;
	border: 1px solid #efe3c5;
}
.o__main .leftBox .sliderBox .sliderMain {
	display: block;
}
.o__main .leftBox .sliderBox .sliderMain > li > img {
	width: 738px;
	height: 421px;
	background-color: #f5f5f5;
}
.o__main .leftBox .sliderBox .sliderMain > li > div {
	position: absolute;
	bottom: 0;
	display: block;
	height: 57px;
	width: 736px;
	background-color: rgba(0, 0, 0, .5);
}
.o__main .leftBox .sliderBox .sliderMain > li > div > a {
	display: block;
	line-height: 57px;
	font-size: 16px;
	text-align: left;
	margin-left: 40px;
	color: #fff;
	
	width: max-content;
	max-width: 500px;
	overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
/*sp*/
.o__main .leftBox .opacity {
	position: absolute;
	bottom: 20px;
	right: 20px;
}
/*对lightslider的更改*/
.gxNews .lSSlideOuter .lSPager.lSpg {
	margin: 0 0;
}
.gxNews .lSSlideOuter .lSPager.lSpg > li a {
	background-color: #f5f5f5;
}
.gxNews .lSSlideOuter .lSPager.lSpg > li:hover a,
.gxNews .lSSlideOuter .lSPager.lSpg > li.active a {
	background-color: #cfa972;
}

/* gxHistory */
div.gxHistory {
	margin-bottom: 58px;
}
.gxHistory .rightList {
	height: 329px;
}
/* leftCardItem */
.o__main .leftBox .leftColumnContent {
	margin-top: 26px;
}
.o__main .leftBox .leftColumnContent .leftCardBox,
.o__main .leftBox .leftColumnContent .leftListBox {
	display: inline-block;
	vertical-align: top;
}
.o__main .leftBox .leftColumnContent .leftListBox {
	margin-left: 70px;
}
.o__main .leftBox .leftColumnContent .leftCardBox .leftCardItem {
	width: 346px;
}
.o__main .leftBox .leftColumnContent .leftCardBox .leftCardItem:first-child {
	padding-bottom: 30px;
	border-bottom: 1px dashed #e5d5bd;
}
.o__main .leftBox .leftColumnContent .leftCardBox .leftCardItem:first-child + .leftCardItem {
	padding-top: 30px;
}
.o__main .leftBox .leftColumnContent .leftCardBox .leftCardItem .CardCoverimg,
.o__main .leftBox .leftColumnContent .leftCardBox .leftCardItem .CardIntro {
	display: inline-block;
	vertical-align: top;
}
.o__main .leftBox .leftColumnContent .leftCardBox .leftCardItem .CardCoverimg img {
	width: 122px;
	height: 94px;
	background-color: #f5f5f5;
}
.o__main .leftBox .leftColumnContent .leftCardBox .leftCardItem .CardIntro {
	margin-left: 18px;
}
.o__main .leftBox .leftColumnContent .leftCardBox .leftCardItem .CardIntro .Intro_tit {
	font-size: 14px;
	color: #000000;
	padding-left: 4px;
	margin-bottom: 10px;
	/*处理超出*/
	width: max-content;
	max-width: 190px;
	display: block;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.o__main .leftBox .leftColumnContent .leftCardBox .leftCardItem .CardIntro .Intro_des {
	font-size: 12px;
	color: #937C67;
	width: 200px;
	height: 66px;
	line-height: 22px;
	/*处理超出*/
	display: block;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: pre-wrap;
}
/* leftListBox */
.o__main .leftBox .leftColumnContent .leftListBox ul li {
	display: block;
	margin-bottom: 12px;
	padding-left: 22px;
}
.o__main .leftBox .leftColumnContent .leftListBox ul li a {
	position: relative;
	padding-left: 22px;
	font-weight: 600;
	/*处理超出*/
	width: max-content;
	max-width: 230px;
	display: block;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	color: #1a1a1a;
	font-size: 14px;
	line-height: 20px;
}
.o__main .leftBox .leftColumnContent .leftListBox ul li a:before {
	content: '';
	position: absolute;
	top: 50%;
	left: 0;
	-webkit-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	transform: translateY(-50%);
	width: 4px;
	height: 4px;
	background: #d3494c;
	border-radius: 2px;
}
.o__main .leftBox .leftColumnContent .leftListBox ul li a:hover {
	color: #937C67;
}

/* gxCulture */
div.gxCulture {
	padding-bottom: 58px;
}
.gxCulture .leftBox .leftColumnContent .leftBookBox .leftBookItem {
	width: 140px;
	display: inline-block;
	margin: 0 20px;
	padding-bottom: 30px;
}
.gxCulture .leftBox .leftColumnContent .leftBookBox .leftBookItem a {
	display: block;
}
.gxCulture .leftBox .leftColumnContent .leftBookBox .leftBookItem a:first-child img {
	width: 140px;
	height: 92px;
	background-color: #f5f5f5;
}
.gxCulture .leftBox .leftColumnContent .leftBookBox .leftBookItem a:first-child + a {
	margin-top: 20px;
	text-align: center;
	font-size: 1.4em;
	color: #333333;
	max-width: 140px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.gxCulture .rightList .rightListBox .rightCardItem {
	background: #fff;
	width: 340px;
	margin: 0 auto;
	padding-top: 16px;
	padding-bottom: 16px;
	border-bottom: 1px dashed #e5d5bd;
}
.gxCulture .rightList .rightListBox .rightCardItem .CardCoverimg,
.gxCulture .rightList .rightListBox .rightCardItem .CardIntro {
	display: inline-block;
	vertical-align: top;
}
.gxCulture .rightList .rightListBox .rightCardItem .CardCoverimg {
	display: inline-block;
	padding-left: 10px;
}
.gxCulture .rightList .rightListBox .rightCardItem .CardCoverimg img {
	width: 122px;
    height: 94px;
    background-color: #f5f5f5;
}
.gxCulture .rightList .rightListBox .rightCardItem .CardIntro {
	margin-left: 16px;
}
.gxCulture .rightList .rightListBox .rightCardItem .CardIntro .Intro_tit {
	font-size: 14px;
	color: #000000;
	padding-left: 4px;
	margin-bottom: 10px;
	/*处理超出*/
	display: block;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	width: 120px;
}
.gxCulture .rightList .rightListBox .rightCardItem .CardIntro .Intro_des {
	font-size: 15px;
	color: #937C67;
	/*处理超出*/
	display: block;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: pre-wrap;

	width: 150px;
	height: 52px;
	line-height: 26px;
	display: block;
}
/* gxNetResources */
div.gxNetResources {
	padding-bottom: 58px;
}
/* gxPeople */
div.gxPeople {
	padding-bottom: 58px;
}

.gxPeople .leftBox .leftColumnContent {
	width: 738px;
    background: #e2e6e9;
    padding: 17px 0;
}
.gxPeople .leftBox .leftColumnContent .leftImgBox {
    margin: 0 auto;
    width: 702px;
    height: 294px;
    background: #f9eccd;
    letter-spacing: -4px;
}
.gxPeople .leftBox .leftColumnContent .leftImgBox .leftImgItem {
	display: inline-block;
	position: relative;
	overflow: hidden;
	/* width: 12.5%; */
	width: 87.75px;
	letter-spacing: 0;
}
.gxPeople .leftBox .leftColumnContent .leftImgBox:hover > .leftImgItem,
.gxPeople .leftBox .leftColumnContent .leftImgBox .leftImgItem:hover ~ .leftImgItem {
	width: 7.4888888888889%;
}
.gxPeople .leftBox .leftColumnContent .leftImgBox .leftImgItem:hover {
	width: auto;
}
.gxPeople .leftBox .leftColumnContent .leftImgBox .leftImgItem:hover > .leftImgItem_info {
	display: block;
}
.gxPeople .leftBox .leftColumnContent .leftImgBox .leftImgItem .leftImgItem_img img {
	max-width: 334px;
	width: 334px;
	height: 296px;
	background-color: #f5f5f5;
}
.gxPeople .leftBox .leftColumnContent .leftImgBox .leftImgItem .leftImgItem_info {
	position: absolute;
    top: 218px;
    width: 330px;
    height: 78px;
    background: rgba(0,0,0,.6);
    display: none;
}
.gxPeople .leftBox .leftColumnContent .leftImgBox .leftImgItem .leftImgItem_info a {
	display: block;
    margin-left: 22px;
    color: #fefefe;
}
.gxPeople .leftBox .leftColumnContent .leftImgBox .leftImgItem .leftImgItem_info .leftImgItem_tit {
    padding-top: 8px;
    font-size: 14px;
    font-weight: 600;
}
.gxPeople .leftBox .leftColumnContent .leftImgBox .leftImgItem .leftImgItem_info .leftImgItem_des {
	margin-top: 4px;
    margin-right: 22px;
    font-size: 12px;
    height: 32px;
    line-height: 16px;
    overflow: hidden;
}

.rightList .rightListBox .rightColumnContent .rightPeopleBox {
	padding: 18px 10px 0;
	background: #fff;
    border: 1px solid #f1e5d4;
    border-top: none;
}
.rightList .rightListBox .rightColumnContent .rightPeopleBox .rightPeople {
	display: inline-block;
	margin: 0 5px;
}
.rightList .rightListBox .rightColumnContent .rightPeopleBox .rightPeople a {
	display: block;
}
.rightList .rightListBox .rightColumnContent .rightPeopleBox .rightPeople a:first-child img {
	width: 90px;
	height: 120px;
	background-color: #f5f5f5;
}
.rightList .rightListBox .rightColumnContent .rightPeopleBox .rightPeople a:first-child + a {
	margin: 10px 0 20px;
	text-align: center;
	font-size: 14px;
	max-width: 90px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}