<!DOCTYPE HTML>
<html>
<head>
    <title>清泽心雨管理中心</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    {include file="common/eccens_js"}
    <meta name="robots" content="noindex,nofollow" />
    <link type="text/css" href="{$Think.const.STATIC_ROOT}/css/base.css?b4f" rel="stylesheet">
    <link type="text/css" href="{$Think.const.STATIC_ROOT}/css/fonts_zui.css" rel="stylesheet">
    <link type="text/css" href="{$Think.const.STATIC_ROOT}/css/skin/admin.css?b4f" rel="stylesheet">
    <script src="{$Think.const.STATIC_ROOT}/js/classie.js"></script>
    <script src="{$Think.const.STATIC_ROOT}/js/clipboard.min.js"></script>
    <script src="{$Think.const.STATIC_ROOT}/js/zui.min.js"></script>
    <script src="{$Think.const.STATIC_ROOT}/lib/chart/zui.chart.min.js"></script>
    <script src="{$Think.const.STATIC_ROOT}/js/common.js"></script>
    <script>
        SiteUrl = "{$Think.const.SITE}";
        StaticUrl = "{$Think.const.SITE}/static";
    </script>
</head>
<style>body{  box-shadow: inset 180px 0 0 #f9f9f9 , inset 181px 0 0 #ccc;}</style>
<body>
    <header>
        <div class="logo">
            <img src="{$Think.const.STATIC_ROOT}/img/admin/logo.png">
        </div>
        <ul class="nav nav-tabs headnav">
            <li class="{$index}"><a class="icon-home" href="{$Think.const.SITE}/consoleboard/index.html" data-target="#homepage">首页</a></li>
            <li class="{$threadmag}"><a href="{$Think.const.SITE}/consoleboard/threadmag.html" data-target="#threadmanager">内容管理</a></li>
            <li class="{$navmag}"><a href="{$Think.const.SITE}/consoleboard/navmag.html" data-target="#threadmanager">导航管理</a></li>
            <li class="{$chunkmag}"><a href="{$Think.const.SITE}/consoleboard/chunkmag.html" data-target="#threadmanager">板块管理</a></li>
            <li class="{$usermag}"><a href="{$Think.const.SITE}/consoleboard/usermag.html" data-target="#usermanager">用户中心</a></li>
            <li class="{$configmag}"><a class="sysconfmenu" href="{$Think.const.SITE}/consoleboard/configmag.html" data-target="#usermanager">系统配置</a></li>
            <li class="{$enrollmag}"><a href="{$Think.const.SITE}/enroll/enrollmag.html" data-target="#usermanager">报名管理</a></li>
            <li class="hidden {$other}"><a>其他</a></li>
        </ul>
        <form method="post" class="admin_exit">
            <input type="hidden" name="exit" value="confirm">
            <button type="submit" class=" icon-signout " title="安全登出"></button>
        </form>
    </header>