/**
 *      [Starsriver] (C)2014-2099.
 *      This is NOT a freeware, follows Apache2.0 licence
 *
 *      Author: 张宇
 *      Email:  starsriver@yahoo.com
 *      Date:   2018-11-06
 *
 */

*{
    margin: 0;
    padding: 0;
    font-size: 14px;
    vertical-align: top;
}
body{
    background: #ebeced;
}
.hide{
    display: none !important;
}

select::-ms-expand{display: none !important}
select{
    -webkit-appearance: none !important;
    -moz-appearance: none !important;
}
.container{
    display: block;
    width: 940px;
    margin: 0 auto;
}
.search{
    margin-bottom: 5px;
    padding: 10px;
    background: #fff;
    font-size: 0;
    border-radius: 0 0 6px 6px;
}
#start{
    width: 100%;
    margin: 10px 0 0 0;
    text-align: center;
    font-size: 32px;
    line-height: 49px;
    background: #fff;
    padding: 90px 20px;
    color: #e0e0e0;
    box-sizing: border-box;
    border-radius: 6px;
}

.kw{
    height: 39px;
    width: 60%;
    padding: 0 8px;
    font-size: 14px;
    outline: none;
    border: 1px solid #36c5bb;
    border-right: 0;
    box-sizing: border-box;
    margin-bottom: 5px;
    border-radius: 20px 0 0 20px;
    color: #39c5bb;
}
.sc{
    height: 39px;
    width: 75px;
    padding: 0 10px;
    font-size: 14px;
    outline: none;
    border: none;
    background: #36c5bb;
    color: #fff;
    border-radius: 0 20px 20px 0;
}
.input{
    display: inline-block;
    border: 1px solid #ddd;
    background: #fff;
    font-size: 0;
    width: 23%;
    margin: 10px 0 0 0;
    line-height: 32px;
    box-sizing: content-box;
    border-radius: 21px;
    overflow: hidden;
}
.input label{
    line-height: inherit;
    height: inherit;
    display: inline-block;
    width: 60px;
    font-size: 15px;
    color: #666;
    border-right: inherit;
    box-sizing: border-box;
    text-align: center;
}
.input select,
.input input{
    line-height: inherit;
    border: none;
    display: inline-block;
    width: calc(100% - 60px);
    outline: none;
    height: 32px;
    padding: 0 10px;
    box-sizing: border-box;
}
#qlist .qi {
    width: 100%;
    margin: 10px 0 0 0;
    box-sizing: border-box;
    padding: 15px;
    background: #fff;
    border-radius: 6px;
}

#qlist .qi .ques {
    font-size: 16px;
    color: #424242;
    margin-bottom: 15px;
    font-weight: 700;
}
#qlist .qi .ques i {
    font-style: normal;
    font-weight: 700;
    color: #346bc5;
    font-size: 16px;
    margin: 0 3px;
    border-bottom: 1px solid;
}

#qlist .qi .note {
    font-size: 13px;
    display: block;
    color: #000648;
    margin-left: 10px;
    background: #fff;
    padding: 10px;
    border-radius: 6px;
    border: 1px solid #dfdfdf;
}
#qlist .qi .note::before {
    content: '';
    display: inline-block;
    width: 8px;
    height: 15px;
    background: #0a67fb;
    vertical-align: bottom;
    margin-right: 5px;
    border-radius: 3px;
}

#qlist .qi .ans {
    margin-top: 5px;
    margin-left: 10px;
    padding: 5px;
    background: #fff;
    border-radius: 6px;
    border: 1px solid #dfdfdf;
}
#qlist .qi .ans * {
    font-style: normal;
}

#qlist .qi .ans .select,
#qlist .qi .ans .judge{
    opacity: .7;
    padding: 5px 10px;
    margin: 2px;
    display: inline-block;
}
#qlist .qi .ans .select.active,
#qlist .qi .ans .judge.active{
    opacity: 1;
    font-weight: 700;
    color: #e26;
    background: #ee556621;
    border-radius: 6px;

}

#qlist .qi .ans .fill {
    padding: 5px 8px;
    display: inline-block;
    margin-right: 5px;
    background: #cbe9ea;
    border-radius: 4px;
    color: #045a7b;
}
#qlist .qi .ans .ask {
    line-height: 20px;
    text-indent: 1.2em;
}


#state > div {
    width: 100%;
    margin: 10px 0;
    display: block;
    background: #fff;
    color: #666;
    font-size: 14px;
    text-align: center;
    line-height: 50px;
    padding: 0 20px;
    box-sizing: border-box;
    cursor: pointer;
    border-radius: 6px;
}
#state #nothing,
#state #end,
#state #loadon {
    cursor: default;
}

@media (max-width:940px){
    .container{
        width: 100%;
    }
}
@media (max-width:480px){
    *{
        font-size: 12px;
    }
    .kw{
        width: calc(100% - 80px);
    }
    #start,
    #state div,
    #qlist .qi {
        width: calc(100% - 20px);
        margin: 10px 10px 0 10px;
    }
    #qlist .qi .ques {
        font-size: 14px;
    }
    #qlist .qi .ques i{
        font-size: 14px;
    }
    .input{
        line-height: 26px;
        width: 45%;
    }
    .input label{
        width: 40px;
        font-size: 12px;
    }
    .input select, .input input{
        width: calc(100% - 40px);
        height: 26px;
        padding: 0 10px;
        background: #fff;
    }
    #state div{
        margin: 10px;
    }
}

@-webkit-keyframes line-scale-pulse-out-rapid {
    0% {
        -webkit-transform: scaley(1);
        transform: scaley(1);
    }

    80% {
        -webkit-transform: scaley(0.3);
        transform: scaley(0.3);
    }

    90% {
        -webkit-transform: scaley(1);
        transform: scaley(1);
    }
}

@keyframes line-scale-pulse-out-rapid {
    0% {
        -webkit-transform: scaley(1);
        transform: scaley(1);
    }

    80% {
        -webkit-transform: scaley(0.3);
        transform: scaley(0.3);
    }

    90% {
        -webkit-transform: scaley(1);
        transform: scaley(1);
    }
}

.line-scale-pulse-out-rapid > div {
    background-color: #15b09b !important;
    width: 4px !important;
    height: 35px !important;
    border-radius: 2px !important;
    margin: 2px !important;
    -webkit-animation-fill-mode: both !important;
    animation-fill-mode: both !important;
    display: inline-block !important;
    -webkit-animation: line-scale-pulse-out-rapid 0.9s 0s infinite cubic-bezier(.11, .49, .38, .78);
    animation: line-scale-pulse-out-rapid 0.9s 0s infinite cubic-bezier(.11, .49, .38, .78);
}

.line-scale-pulse-out-rapid > div:nth-child(2),
.line-scale-pulse-out-rapid > div:nth-child(4) {
    -webkit-animation-delay: -0.25s !important;
    animation-delay: -0.25s !important;
}

.line-scale-pulse-out-rapid > div:nth-child(1),
.line-scale-pulse-out-rapid > div:nth-child(5) {
    -webkit-animation-delay: -0.5s !important;
    animation-delay: -0.5s !important;
}
