<link type="text/css" href="{$Think.const.STATIC_ROOT}/css/skin/thread_sender.css" rel="stylesheet">
<script type="text/javascript" src="{$Think.const.STATIC_ROOT}/lib/datetimepicker/datetimepicker.min.js"></script>
<link href="{$Think.const.STATIC_ROOT}/lib/datetimepicker/datetimepicker.min.css" rel="stylesheet">
<?php
    $showspc = 0;
    foreach($splv1 as $splb){if($splb['hpm']) $showspc = 1; break;}
    foreach($splv2 as $splb){if($splb['hpm']) $showspc = 1; break;}
    foreach($splv3 as $splb){if($splb['hpm']) $showspc = 1; break;}
?>

<div id="forum_sender" class=" gird-main">
    <form id="threadform" enctype="multipart/form-data">
        <input type="hidden" id="newthread" name="newthread" value="post">
		<div class="coverimg">
			<i class="less-icon icon-picture"></i>
            <script language="JavaScript" src="{$Think.const.STATIC_ROOT}/js/imgpreview.js"></script>
            <input type="file" onchange="previewImage(this,1)" id="coverimg" name="coverimg">
            <div class="preview" id="preview1"></div>
        </div>
		<div class="line">
			<div id="avatar"></div>
			<i class="l">作者</i><input id="author" type="text" name="author" placeholder="@{作者}：默认自己">
			<i class="l">时间</i><span> 发布于： </span><input id="datetime" type="text" name="htime" placeholder="@{时间}：默认当前">
		</div>
		<div class="line">
			<i class="l">标题</i><input id="title" type="text" name="title" placeholder="标题">
		</div>	
		<div class="line">
			<select class="cs-select cs-skin-border" name="threadsort" id="threadsort">
				<optgroup label="板块">
				<option>请选择分类</option>
				{volist name="chunklv1" id="lv1" }
					{if $lv1['hpm']}<option value="{$lv1.id}">◆ {$lv1.chunk_name}</option> {/if}
					{volist name="chunklv2" id="lv2"}
						{if $lv2['chunk_below'] == $lv1['id']}
							{if $lv2['hpm']}<option value="{$lv2.id}">&nbsp;&nbsp;&nbsp;&nbsp;◇ {$lv2.chunk_name}</option>{/if}
							{volist name="chunklv3" id="lv3"}
								{if $lv3['chunk_below'] == $lv2['id']}
									 {if $lv3['hpm']}<option value="{$lv3.id}">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;[ {$lv3.chunk_name} ]</option>{/if}
								{/if}
							{/volist}
						{/if}
					{/volist}
				{/volist}
				</optgroup>
				{if $showspc}
				<optgroup label="专题" id="sp">
					{volist name="splv1" id="lv1" }
						{if $lv1['hpm']}<option value="{$lv1.id}">◆ {$lv1.chunk_name}</option> {/if}
						{volist name="splv2" id="lv2"}
							{if $lv2['chunk_below'] == $lv1['id']}
								{if $lv2['hpm']}<option value="{$lv2.id}">&nbsp;&nbsp;&nbsp;&nbsp;◇ {$lv2.chunk_name}</option>{/if}
							{/if}
						{/volist}
					{/volist}
				</optgroup>
				{/if}
			</select>
			<i class="l">关键词</i><input autocomplete="off" type="text" name="keyword" id="keyword" placeholder="关键词，逗号隔开">
		</div>
		<div class="line">
			<div class="tags">浏览：<span>123</span></div>
			<div class="tags">喜欢：<span>456</span></div>
			<div class="tags">赞：<span>789</span></div>
		</div>		
		<div class="line"><i class="l">描述</i><textarea type="text" name="descrip" id="descrip" placeholder="描述，文章的简介，将参与到搜索匹配中"></textarea></div>
		
        <script type="text/javascript" src="{$Think.STATIC_ROOT}/lib/ueditor/ueditor.parse.js"></script>
        <script type="text/javascript" src="{$Think.STATIC_ROOT}/lib/ueditor/ueditor.config.js"></script>
        <script type="text/javascript" src="{$Think.STATIC_ROOT}/lib/ueditor/ueditor.all.js"></script>
        <script id="container" value="" name="content" type="text/plain" style="width: auto"></script>
        <script type="text/javascript">var ue = UE.getEditor('container');ue.ready(function() {ue.setContent('');});</script>
        
		<div class="line" style="text-align:right;">
			<div class="radio-1">
				<input checked type="radio" value="1" name="threadmode" id="threadmode1"/>
				<label for="threadmode1">保存草稿</label>
			</div>
			<div class="radio-1">
				<input type="radio" value="2" name="threadmode" id="threadmode2"/>
				<label for="threadmode2">发布</label>
			</div>
			<button id="submiter" class="btn-small" type="button" onclick="post()">提交</button>
		</div>		
	
		

            
		
        <div id="loading" style="display: none">
            <img src="/static/img/common/loading.gif">
        </div>
    </form>
    <script>
	
        function post() {
            $('#loading').css('display','block');
            var data = new FormData(document.querySelector('#threadform'));
            console.log(data);

            $.ajax({
                processData:false,
                contentType:false,
                cache: false,
                url: location.href,
                type: "POST",
                data: data,
                success: function (status) {
                    $('#loading').css('display','none');
                    new $.zui.Messager(status || '提交成功', {
                        icon: 'bell',
                        type: status === '成功发布,你可以继续添加或刷新页面查看结果'? 'success' :'warning',
                        placement: 'bottom-left'
                    }).show();
                    if(status === '成功发布,你可以继续添加或刷新页面查看结果'){
                        $('#title').val('');
                        $('#descrip').val('');
                        $('#keyword').val('');
                        $('#coverimg').val('');
                        $('#author').val('');
                        $('#datetime').val('');
                        document.querySelector('#preview1').style = '';
                        ue.setContent('');
                    }
                },
                error: function (res) {
                    $('#loading').css('display','none');
                    dump(res);
                }
            })
        }
        $("#datetime").datetimepicker(
            {
                weekStart: 1,
                todayBtn:  1,
                autoclose: 1,
                todayHighlight: 1,
                startView: 2,
                forceParse: 0,
                showMeridian: 1,
                format: "yyyy-mm-dd hh:ii"
            });
    </script>
</div>